@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  @apply bg-dark text-white
 }
.input{
  @apply bg-transparent border border-gray-500 rounded-md py-2 pl-9  pr-3 w-full outline-none
}

